<div class="course-video">
    <div class="video-main">
        <div class="video-player" heyman-video get-current-time="currentTime1">
             <video id="video-media" class="video-style" src="../player/test.flv" controls ></video>
            <div class="video-controls">
                <span class="btn-play"></span>
                <span class="video-current-time" ng-bind="currentTime">
                    00:00
                </span>
                <div class="progress-style pregress-height bar-progress">
                      <div class="progress-speed" id="progress-current">
                        <span class="progress-point"></span>
                    </div>
                </div> 
                <span class="btn-volume ">
                    <div class="bar-volume volume-visibility">
                        <div class="volume-progress">
                            <div class="progress-bar" id="volume-progress">
                                <div class="volume-progress-point">
                                
                                </div> 
                            </div>
                        </div>
                    </div>
                </span>
                <span class="player-maxi"></span>
            </div>
        </div>

      
    </div>
     <div heyman-jwplayer>
         <div id="video-container"></div>
     </div>
    <div class="vido-content">
        
    </div>
</div>