*{
    margin:0px;
    padding: 0px;
}

#header{
    background: #3579a6;
    width: 100%;
    height: 60px;
}

body{
    width: 100%;
    height: 100%;
    /* min-width: 1200px; */
    margin:0px;
    padding: 0px;
}

.login-regist-area{
    float: right;
    position: relative;
    width: auto;

}



.header-unlogin a,.nav-bar a{
    display: block;
    width: 60px;
    font-size: 14px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
}
.logined li > a {
     display: block;
    width: 60px;
    font-size: 14px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
}
.user-card-item img {
    width: 28px;
    height: 28px;
    border-color: #4d5559;
    vertical-align: middle;
    border-radius: 22px;
    border: 2px solid #adb0b1;
}
#header ul{
display: inline;
}

:link, :visited {
     text-decoration: none; 
}

#header a:hover{
    background: #2c618d;
}

.login-regist-area{
    margin-right: 20px;
}

#header .logo-content{
  width: 130px;
  float: left;
  display: inline-block;
  height: 1px;
}
.tools a {
    display: block;
    width: 60px;
    font-size: 14px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
}
.tools {
    display: inline-block;
    float: right;
}
/* ==================tab================ */
.scroll-top{
    bottom: 20px;
    right: 20px;
    position: fixed;
    background: url("../images/to-top.png");
    width: 50px;
    height: 50px;
    background-size:50px 50px;
    display: none;
}
.to-top{
    position: absolute;
    bottom: -18px;
    left: 11px;
}
/* ===================video list===================== */
.video-context .video-item{
    float: left;
    width: 283px;
    margin: 0 17px 30px 0;
    position: relative;
}
.video-context .video-desc{
    width: 263px;
    padding: 15px 10px;
    background: #fff;
}

.video-context .video-desc h3{
    font-size: 16px;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.video-desc .afont{
    color: #323846;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.video-desc .afont:hover {
    color: #2196f3;
}
.video-context{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/* ==============course category=============== */

.course-category-hd{
    font-size: 16px;
    font-weight: 700;
    color: #14191e;
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
    border-bottom: 1px solid #d0d6d9;
}
.course-row-category{
    margin: 15px 0 5px;
    border-bottom: 1px solid #edf1f2;

}

.hd{
    width: 75px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #787d82;
    text-align: right;
    float: left;
}
.course-category ul{ 
   display: inline-block;
}
.course-category .category-item{
    display: inline-block;
    margin: 0 13px;
}
.category-item a {
    padding: 2px 5px;
}
.category-item .selected, .category-item a:Hover{
    background: #00b33b;
    border-radius: 13px;
    color: #ffffff;
}
.course-tool-bar {
    position: relative;
    margin-top: -1px;
    padding-right: 15px;
    height: 40px;
    background-color: #f9f9f9;
    border-top: 1px solid #d0d6d9;
    font-size: 12px;
}
.course-list{
    width: 1200px;
    margin: 0 auto;
}
/* =============cours-detail============= */

.font-title{
    line-height: 1;
    font-weight: bold;
    font-size: 32px;
    color: white;
}
.course-hd{
    background: #dddddd;
  
}
.course-hd-center {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 240px;
}
 
 .course-info{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    white-space: nowrap;
}
.info-item {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 80px;
    padding-left: 21px;
    font-size: 14px;
    border-left: 1px solid;
}
.info-item span{
    display: block;
    margin: 5px 0 8px 0;
    opacity: 0.6;

}
.meta{
    display: block;
    opacity: .4;
    filter: alpha(opacity=40);
    font-size: 14px;
}

.info-item strong{
    font-weight: bold;
    font-size: 18px;
}
.course-bd {
    margin-top: 40px;
 
}
.course-bd .bd-center{
    margin:0 auto;
    width: 1200px;

}
.course-bd .left-box{

    width: 240px;
    height: 500px;
    float: left;
}
.course-bd .start-course-btn{
    width: 240px;
    font-size: 23px;
}
.score-info {
    position: relative;
    padding: 20px;
    border: 1px solid #d0d6d9;
    margin-top: 20px;
}
.score-degree-info {
    border-bottom: 1px solid #d0d6d9;
}
.score-degree-info .score{
    font-size: 30px;
    line-height: 32px;
    color: #787d82;
    margin: 10px 0;
    font-weight: normal;
    border-bottom: 0 none;
    padding-bottom: 0;
}
.score-degree-info .score-title{
    font-size: 14px;
    color: #787d82;
    line-height: 16px;
}
.cse-des {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 18px;
    background-color: #f9f9f9;
    border-top: 1px solid #d0d6d9;
}
.description {

    margin-bottom: 20px
}

 .course-bd .right-box {
    float: left;
    margin:0;
    width: 960px;
    padding-left: 20px
}
.course-bd .des-cos li{
    display: block;
    padding: 0 32px 0 20px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #787d82;
    border-left: 1px solid #d0d6d9;
    cursor: default;
}