<div class="catalog-list-answer">
    <div class="course-info-main">
        <div class="course-right-box">
            <div class="progress-part clearfix">
                <div>
                    <span class="finished-title">
                        Finished:
                    </span>
                    <strong>
                        80%
                    </strong>
                </div>
                <div class="progress-style pregress-height">
                    <div  class="progress-bar" ng-style="{width:'40%'}"></div>
                </div>
            </div>
            <div class="content">
                <div class="mod-tab-menu">
                   <div cl-tabs tabs="tabs" change-tab="changTab()"></div>
                    </div>
            </div>
            <div ng-show="catalogListPart" class="chapters">
                <div class="mod-chapters">
                    <div class="chapter chapter-active">
                        <h3>
                            <span class="icon-sub"></span> 
                            <strong>
                                <i class="state-expand-icon"></i>
                                第1章 MongoDB在线讲座系列之MongoDB DBA的日常巡检及执行计划分析
                            </strong>
                        </h3>
                        <ul class="video clearfix">
                            <li>
                                <a target="_blank" href='/video/10932' class="J-media-item studyvideo">1-1 MongoDB在线讲座系列之MongoDB
                                    DBA的日常巡检及执行计划分析(一） (26:25) 
                                    <i class="study-state"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>   
            </div>
            <div ng-show="commentPart">
                2222
            </div>
            <div ng-show="answerPart">
                3333
            </div>
        </div>    

    </div>
    
</div>