<div class="course-detail">
    <div class="course-hd">
        <div class="course-hd-center">
             <div class="course-title">
             <span class="font-title">  "message": "Bad Content-Type or charset, expected 'application/json'"</span>></div>
            
            <div class="course-info clearfix">
                <div class="info-item">
                    <span class="meta">
                        难度
                    </span>
                     <span>
                        <strong>很难</strong> 
                    </span>
                </div>
                <div class="info-item">
                  <span class="meta">
                      难度
                  </span>
                   <span>
                      <strong>很难</strong> 
                  </span>
                </div>
                <div class="info-item">
                    <span class="meta">
                        难度
                    </span>
                     <span>
                        <strong>很难</strong> 
                    </span>
                </div>
            </div>
        </div>
      
    </div>
    <div class="course-bd ">
        <div class="bd-center clearfix">
            
            <div class="left-box">
                <div class="left-bar">
                    <a href="" class="btn btn-green start-course-btn">Startting</a>
                    <div class="score-info">
                        <div class="score-degree-info">
                            <h3>满意度评分</h3>
                            <h4 class="score">10.0</h4>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="right-box">
                <div class="content">
                    <h3 class="cse-des">课程介绍</h3>
                    <div class="description">
                        <span>
                            介绍Golang对文本处理的基本API,以及XML编码处理和命令行解析, 通过实战 处理VS文件列表及模拟命令行拷贝文件。
                        </span>
                    </div>
                    <div class="bar ">
                    <h3 class="cse-des  l" >课程目录</h3>
                        <ul class="des-cos">
                            <li>Video</li>
                            <li>Question</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>