<div id="login-page" class="login-backgrount">
    <div class="login-title">
        <div class="login-close">
            <a href="" class="login-close-btn close-btn" ng-click="close()"></a>
        </div>
        <span class="title-text">Login</span>
    </div>
    <div class="login-body">
        <div class="right-box">
            <div class="label-input">
                <label for="userName" id="serNameLabel" class="pass-label-userName">手机/邮箱/用户名</label>
                <input id="userName" type="text" name="userName" class="pass-text-input pass-text-input-userName" autocomplete="off" placeholder="手机/邮箱/用户名">
            </div>
            <div class="label-input">
                <label for="password" id="passwordLabel" class="pass-label-password">密码</label>
                 <input id="password" type="password" name="password" class="pass-text-input pass-text-input-password" placeholder="密码">
            </div>
            <div class="label-input">
                <input id="memberPass" type="checkbox" name="memberPass" class="pass-checkbox-input pass-checkbox-memberPass" checked="checked">
                <label for="memberPass" id="memberPassLabel" class="pass-checkbox-label">下次自动登录</label>
                <a class="pass-fgtpwd" href=" " target="_blank">忘记密码?</a>
            </div>
            <div>
                <input id="submit" type="submit" value="登录" class="btn btn-green pass-button-submit">
                <a class="pass-reglink" href="#" target="_blank">立即注册</a>
            </div>
        </div>

    </div>
</div>