<div class="member-edit">
    <div class="crumb">
        <span class="crumb-text">会员列表</span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
                <span class="title">添加会员</span>
        </div>
        <form novalidate>
            <div class="form-item">
                <div class="form-label">
                    <label class="item-label tip-required">姓名</label>
                </div>
                <div class="item-content require-tip">
                    <input type="text" name="name" required ng-model="name">
                </div> 
            </div>
            <div class="form-item">
                <div class="form-label">
                    <label class="item-label">电话</label>
                </div>
                <div class="item-content require-tip">
                    <input type="text" name="mobile" required ng-model="phone">
                </div> 
            </div>
            <div class="form-item">
                <div class="form-label">
                    <label class="item-label">邮箱</label>
                </div>
                <div class="item-content require-tip">
                    <input type="text">
                </div> 
            </div>
            <div class="form-item">
                <div class="form-label">
                    <label class="item-label">地址</label>
                </div>
                <div class="item-content require-tip">
                    <input type="text">
                </div> 
            </div>
            <div class="form-btn">
            <input type="submit" class="btn btn-green" value="保存信息">
               <!--  <a href="#" class="btn btn-green">保存信息</a> -->
            </div>
        </form>

    </div>
</div>